<h1>Videos</h1>
<div class="videos">
  <div *ngFor="let video of videos" class="panel video">
    <div class="video-heading">
      <img src="{{video.ownerId.profile.pictureUrl}}">
      <a href="#">{{video.ownerId.profile.username}}</a>
      <span class="video-category">{{video.category}}</span>
    </div>
    <div class="video-content">
      <video class="img-responsive" controls="" width="100%" height="100%">
        <source src="{{video.url}}" />
      </video>
    </div>
    <div class="video-metadata">
      <a class="title clickable" [routerLink]="['../video', video._id]">{{video.title}}</a>
      <p class="video-description">{{video.description}}</p>
      <div class="text-center"><button type="button" (click)="challenge(video)" name="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Challenge !</button></div>
    </div>
    <div class="divider">
    </div>
    <div class="video-footer">
      <a href="#">
        {{video.likes}} Likes
      </a>
      <a href="#">
        0 Comments
      </a>
      <img class="pull-right" src="../../assets/img/share.png" width="20" height="20">
      <img class="pull-right" src="../../assets/img/comment.png" style="margin-right:10px; color: #FFFFFF;" width="20" height="20">
      <img (click)="unlike(video)" *ngIf="video.isLiked == true" class="pull-right" src="../../assets/img/like.png" style="margin-right:10px;" width="20" height="20">
      <img (click)="like(video)" *ngIf="video.isLiked == false" class="pull-right" src="../../assets/img/unlike.png" style="margin-right:10px;" width="20" height="20">
    </div>
  </div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">


      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1 class="text-center">Upload a profile picture</h1>
        </div>
        <form #form="ngForm" (submit)="submit(form.value)" class="form col-md-12 center-block">

        <div class="modal-body">
              <div class="form-group text-center">
                <label class="btn btn-primary" for="video">
                <input id="video" type="file" name="video" style="display:none"
                onchange="$('#upload-file-info').html(this.files[0].name)">
                Choose your file
                </label>
                <span class='label label-info' id="upload-file-info"></span>
              </div>

              <div class="form-group text-center">
                <label><b>Title:</b></label>
                <input class="form-control" id="title" type="text" name="title" style="text-align:center" >
              </div>
              <div class="form-group">
              <label><b>Description:</b></label>
              <textarea class="form-control" id="description" maxlength=255 placeholder="max 255 characters" name="description" style="text-align:center"></textarea>
              </div>
              <div class="text-center"><button type="submit" class="btn btn-success">Submit</button></div>
        </div>
      </form>

        <div class="modal-footer">
        </div>
      </div>

    </div>
  </div>


</div>
