<div *ngFor="let video of videos" class="col-xs-offset-2 col-xs-8" style="border: 1px solid lightgrey; border-radius: 6px;">
<div class="row" style="padding: 10px;">
<div class="col-xs-12">
    <span class="user">
        <img data-role="user-avatar" src="{{userProfilePicture}}" width="40px" height="40px">
    </span>
    <a href="http://www.google.be">{{ownerUsername}}</a>
</div>
<div class="col-xs-12" style="padding: 2px;">
    <video class="img-responsive" controls="" width="100%" height="100%">
        <source src="{{video.url}}" />
    </video>
</div>
<div class="col-xs-12">
    <a href="http://www.google.be">{{video.title}}</a>
</div>
<div class="col-xs-12">
    <div class="col-xs-3" style="padding: 2px;" >
        <a href="#" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-heart-empty"></span> like</a>
    </div>
    <div class=" col-xs-offset-1 col-xs-3" style="padding: 2px;" >
        <a href="#" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-comment"></span> commenter</a>
    </div>
    <div class="col-xs-offset-2 col-xs-2" style="padding: 2px;" >
        <a href="#" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-share"></span> partager</a>
    </div>

</div>
</div>
</div>
