
<div class="overview">
  <div class="widget profile">
    <div class="widget-header">
      <h3 class="widget-caption">Profile</h3>
    </div>
    <div id="fb-root"></div>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>

    <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
<button class="btn btn-social-icon btn-google" id="googleBtn"><span class="fa fa-google"></span></button>
<button class="btn btn-social-icon btn-facebook" id="facebookBtn">
  <span class="fa fa-facebook"></span>
</button>
  </div>
  <div class="widget profile">
    <div class="widget-header">
      <h3 class="widget-caption">Comptes Liés</h3>
    </div>
    <div class="widget-body">
      <p>
        <span class="label">Facebook : </span>Lier son compte Facebook
        <button class="btn btn-social-icon btn-facebook">
          <span class="fa fa-facebook"></span>
        </button></p>
      <p><span class="label">Google+ : </span>Lier son compte Google+
        <button class="btn btn-social-icon btn-google">
          <span class="fa fa-google"></span>
        </button>
      </p>
    </div>
  </div>
</div>
