<div class="overview">
  <div class="widget profile">
    <div class="widget-header">
      <h3 class="widget-caption">Profile</h3>
    </div>
    <span (click)="openNav()">open</span>
    <div id="myNav" class="overlay">


  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

<div class="overlay-content">
  <!-- Overlay content -->
  <form #form="ngForm">
    <div class="fileUpload btn btn-default">
      <span>Upload</span>
        <input type="file" class="upload" />
    </div>
    <button type="submit" name="delete" (click)="photoDelete"
            class="btn btn-success">Supprimer votre photo</button>
      <button type="button" name="cancel"
            class="btn btn-success" >Annuler</button>
  </form>
</div>
  </div>

  <!-- Use any element to open/show the overlay navigation menu -->

  </div>
  <div class="widget profile">
    <div class="widget-header">
      <h3 class="widget-caption">Comptes Liés</h3>
    </div>
    <div class="widget-body">
      <p>
        <span class="label">Facebook : </span>Lier son compte Facebook
        <button class="btn btn-social-icon btn-facebook">
          <span class="fa fa-facebook"></span>
        </button></p>
      <p><span class="label">Google+ : </span>Lier son compte Google+
        <button class="btn btn-social-icon btn-google">
          <span class="fa fa-google"></span>
        </button>
      </p>
    </div>
  </div>
</div>
