
<div class="overview">
  <div class="widget profile">
    <div class="widget-header">
      <h3 class="widget-caption">Profile</h3>
    </div>
    <div id="fb-root"></div>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>

    <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
<button class="btn btn-social-icon btn-google" id="googleBtn"><span class="fa fa-google"></span></button>
<button class="btn btn-social-icon btn-facebook" id="facebookBtn">
  <span class="fa fa-facebook"></span>
</button>
  </div>
  <h2>Modal Example</h2>

  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Défier</button>


  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">


      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1 class="text-center">Upload a profile picture</h1>
        </div>
        <form #form="ngForm" (submit)="submit(form.value)" class="form col-md-12 center-block">

        <div class="modal-body">
             	<div class="form-group text-center">
                <label class="btn btn-primary" for="video">
                <input id="video" type="file" name="video" style="display:none"
                onchange="$('#upload-file-info').html(this.files[0].name)">
                Choose your file
                </label>
                <span class='label label-info' id="upload-file-info"></span>
            	</div>

             	<div class="form-group text-center">
            		<label><b>Title:</b></label>
            		<input class="form-control" id="title" type="text" name="title" style="text-align:center">
            	</div>
            	<div class="form-group">
            	<label><b>Description:</b></label>
            	<textarea class="form-control" id="description" maxlength=255 placeholder="max 255 characters" name="description" style="text-align:center"></textarea>
            	</div>
            	<div class="text-center"><button type="submit" class="btn btn-success">Submit</button></div>
        </div>
      </form>

        <div class="modal-footer">
        </div>
      </div>

    </div>
  </div>


  <div class="widget profile">
    <div class="widget-header">
      <h3 class="widget-caption">Comptes Liés</h3>
    </div>
    <div class="widget-body">
      <p>
        <span class="label">Facebook : </span>Lier son compte Facebook
        <button class="btn btn-social-icon btn-facebook">
          <span class="fa fa-facebook"></span>
        </button></p>
      <p><span class="label">Google+ : </span>Lier son compte Google+
        <button class="btn btn-social-icon btn-google">
          <span class="fa fa-google"></span>
        </button>
      </p>
    </div>
  </div>
</div>
