.navbar-principal {
  background-color: #56687F;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
  font-style: bold;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ADCFFF;
  background-color: #56687F;

}